<p>activate-account works!</p>

<div *ngIf="isSuccess === true">
    <p>Your account has been activated.</p>
    <a [routerLink]="['/login']">Click here to login</a>
</div>

<div *ngIf="isSuccess === false">
    <p>Unable to activate your account.</p>
    <span>error message: </span><span class="badge bg-danger">{{ errorMessage }}</span>

    <div class="row">
        <button *ngIf="errorCode != 'activate.already'" class="btn btn-danger"
            (click)="resendActivationEmail()">Resend Activation Email</button>
        <button *ngIf="true" class="btn btn-primary" (click)="navigateToLoginPage()">Login</button>
    </div>
</div>