<app-header></app-header>
<p>chat works!</p>

<h5>Connected : {{ isConnected }}</h5>
<form [formGroup]="chatFormGroup" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1">Input Message</label>
    <input type="text" class="form-control" formControlName="message" placeholder="Message" />
    <small id="emailHelp" class="form-text text-muted">.....</small>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="chatFormGroup.invalid">
    Send
  </button>
</form>

<h3>Messages</h3>
<ul>
  <li *ngFor="let message of messages">
    {{ message.from }} - {{ message.message }} - {{ message.created }}
  </li>
</ul>