<p>login works!</p>
<form [formGroup]="loginFormGroup" class="d-grid gap-2 col-6 mx-auto" (ngSubmit)="onSubmit()">
    <h2 class="text-center">Login</h2>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="name@example.com" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Password" />
    </div>
    <div class="mb-3">
        <!-- [disabled]="loginFormGroup.invalid" -->
        <button type="submit" class="btn btn-primary mb-3">Submit</button>

        <button type="button" class="btn btn-default mb-3" (click)="onBtnRegister()">register</button>
        <a class="nav-link" [routerLink]="['/register']">
            register
        </a>
    </div>
</form>